root = true

[*]
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
end_of_line = lf

[*.json]
indent_style = tab

[composer.lock]
indent_style = tab

[*.md]
trim_trailing_whitespace = false

[*.{php,phtml}]
indent_style = tab

[*.{xml,xsl}]
indent_style = tab

[*.{yaml,yml}]
indent_size = 4
trim_trailing_whitespace = false
