<?xml version="1.0" encoding="utf-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.2/phpunit.xsd"
	colors="true"
	failOnDeprecation="true"
	failOnIncomplete="true"
	failOnSkipped="true"
	failOnNotice="true"
	failOnRisky="true"
	failOnWarning="true"
	failOnEmptyTestSuite="true"
	beStrictAboutChangesToGlobalState="true"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
>
	<testsuites>
		<testsuite name="FigTree Framework Test Suite">
			<directory suffix="Test.php">tests</directory>
		</testsuite>
	</testsuites>
	<source>
		<include>
			<directory suffix=".php">src</directory>
		</include>
	</source>
</phpunit>
